@font-face {
  font-family: "ARSON PRO LIGHT";
  src: url("../fonts/ARSON PRO LIGHT.OTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BWSURCODEMO-BOLD";
  src: url("../fonts/BWSURCODEMO-BOLD.OTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BWSURCODEMO-MEDIUM";
  src: url("../fonts/BWSURCODEMO-MEDIUM.OTF");
  font-weight: normal;
  font-style: normal;
}
